.timeline{
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 30;
    justify-content: center;
}
@media (min-width: 601px) {
    .big{
        display: flex;
        justify-content: center;
        background-color: #000000;
    }
    .small{
        display: none;
    }
    .timefull{
        width: 45%;
    }
}

@media (max-width: 600px) {
    .big{
        display: none;
    }
    .timer{
        width: 65%;
    }
    .small{
        display: flex;
        justify-content: center;
        background-color: #000000;
    }
}
