* {
  box-sizing: border-box;
 
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.footer-container {
  font-family: 'Goldman', cursive;
  display: flex;
  flex-wrap: wrap;
  
 padding-left: 10px;
 padding-top: 25px;
  
background-color: black;
 
}

.footer-left {
  background-color: black;
  flex: 50%;
}

.footer-right {

  background-color: black;
 
  flex: 50%;
}
.invisible-container{
  display: none;
visibility: hidden;
position: absolute;
}


/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .footer-right, .footer-left {
    flex: 100%;
    justify-content: center;

  }
  .footer-right{  
    padding-top: 50px;
  }
  .isVisible{
    display: none;
    visibility: hidden;
    position: absolute;
  }
  .invisible-container{
   visibility: visible;
   position: relative;
     padding-top: 10%; 
     display: flex; 
    flex-direction: column; 
   
     align-items: center; 
    
    width: 100%;
  }
}

